* {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
}

.bloco,
.arrow {
  padding: 5px;
  text-align: center;
  width: 30px;
  list-style: none;
  border: solid gainsboro 1px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgb(45, 0, 168);
}

.bloco:hover {
  background-color: rgb(45, 0, 168);
}
